.container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: auto;
  align-items: center;
}
img {
  height: auto;
  width: 100%;
}
.item {
  padding: 5px;
}
.border {
  background-color: lightgray;
  height: 100%;
  width: 100%;
}
